.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    height: 100vh;
    padding-top: 20px;
    background-color: #f8f9fa;
    
  
}

.nav-link {
    color: #495057;
    font-size: 1.1em;
    padding: 10px 15px;
}

.nav-link:hover {
    background-color: #e9ecef;
    color: #495057;
    width: 105%;
    margin-left: -13px;
}

.nav-link.active {
    color: #007bff;
    font-weight: bold;
    background-color: #eaebed;
    width: 115%;
    margin-left: -13px;
}

.list-group-item {
    background-color: #f8f9fa;
    border: none;
    padding: 10px 15px;
    font-size: 1.1em;
}

.list-group-item:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.priority-high {
    background-color: #f8d7da;
}

.priority-medium {
    background-color: #fff3cd;
}

.priority-low {
    background-color: #d4edda;
}

#current-date-time {
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid #a79f9f;
    padding: 17px;
    border-radius: 5px;
    margin: 30px;
}
#user-info h2 {
    color: #333;
    border-bottom: 2px solid #cccfd3;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#task-list{border: 2px solid #e9e2e2;
    border-radius: 13px;
    padding: 20px;
    background-color: #f8f9fa;
    margin-top: 30px;
    
}

.h2{
    padding-left: 45%;
    color:#5c1d1d;
}


.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
#user-info{
    border: 2px solid #e9e2e2;
    border-radius: 13px;
    padding: 20px;
    background-color: #f8f9fa;
}
.sidebar{
    border-right: 1px solid #dee2e6;

}
#main{
    background-color:  #e3e0dc;;
}
#date-time
{
    border: 2px solid #e9e2e2;
    border-radius: 13px;
    padding: 20px;
    background-color: #f8f9fa;
    margin-top: 30px;
}
#dash{
    background-color: #ededec;
    /* border: 3px solid #836f6f; */
    text-align: center;
    width: 104%;
    margin-left: -24px;
};
.add-task-btn{
    border-radius: 4px;
}

table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid  #dee2e6;

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid  #dee2e6;
        }

        th {
            background-color: #f2f2f2;
        }